<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.autovitalsinc.frames"
        version="0.01">

  <name>AV Frames</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/frames.js" target="js/frames.js"/>

  <js-module src="www/frames.js" name="frames">
    <clobbers target="frames" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Frames">
        <param name="ios-package" value="AVFrames" />
      </feature>
    </config-file>

    <header-file src="src/ios/AVFrames.h" target-dir="FramesPlugin"/>
    <source-file src="src/ios/AVFrames.m" target-dir="FramesPlugin"/>
  </platform>
  
    <!-- android -->
    <platform name="android">
        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="Frames" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Frames">
          <param name="android-package" value="com.autovitalsinc.frames.Frames" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/Frames.java" target-dir="src/com/autovitalsinc/frames/" />
    </platform>

</plugin>